{% extends "base.html.twig" %}

{% block body %}
    

    <h1>Bienvenue Cher visiteur</h1>
    <p>
						Je m'appelle Ababacar Sadikh GUEYE, j'ai 22 ans et j'habite à Guédiawaye.
					</p>
					<p>
						Je suis diplômé d'une licence professionnelle en génie logiciel et système d'information obtenue à l'École Supérieure Polytechnique de Dakar (ESP ex:ENSUT) et j'ai réussi au concours Sonatel academy en developpement web organisé par Sonatel.
					</p>
					<p>
						Dans quelques mois, je serai un développeur web agrée. 
					</p>
					<p>
						Curieux, autodidacte et rigoureux je dispose également des connaissances en sécurité et web services.
					</p>
					<p>N'hésitez pas à parcourir mon <a href="https://github.com/Sadikh-SA" style="color: blue">GitHub</a> pour voir mes projets réalisés .</p>

{% endblock %}