{% extends "base.html.twig" %}
{% form_theme formService 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h2>    CRÉATION D'UN SERVICE </h2>

    {{ form_start(formService) }}

        {{ form_row(formService.Libelle, {'attr': {'placeholder': "Libellé du Service"}}) }}

        <button type="submit" class="btn btn-success"> AJOUTER SERVICE</button>
    {{ form_end(formService) }}

{% endblock %}